In [19]:
import pandas as pd

csv = pd.read_csv('hamburg.csv', delimiter=';')
csv = csv.drop('Unnamed: 0', axis = 1)

In [22]:
subsample = csv.sample(100)
subsample

,Type,DHID,Name,Latitude,Longitude
411712,Q,de:06432:8477:1:1,NEppertshause,"49,92923","8,862436"
657101,S,de:05962:258,"Lüd., Abzw. Brüninghausen","51,233508","7,696379"
685493,S,de:03153:40229,"Seesen, Emil-Mechau-Straße","51,879601","10,155535"
698239,Q,de:03241:7058:1:7059,Bokeloh,"52,400525","9,357598"
176297,Q,de:09376:80378:0:2,2,"49,477488","12,244855"
...,...,...,...,...,...
146676,A,de:09275:4100:83,Taxi,"48,405907","13,31367"
38999,Q,de:08215:1403:2:11,SEV,"48,917208","8,503075"
340495,S,de:03360:42510,Himbergen(Göhrde) Grundschule,"53,093535","10,72586"
25596,Q,de:08126:10935:0:2,Ri. Südosten (Mangoldsall),"49,235109","9,619969"
251271,S,de:11000:900082204,"Berlin, Hörsingsteig","52,423964","13,460749"

In [24]:
subsample.to_csv('reduced_hamburg.csv', index_label='index', sep = ';')